<div class="container" style="margin-top: 100px">
  <div class="row">
    <form novalidate class="form-inline col-12" [formGroup]="form" (ngSubmit)="submitForm()">
      <input formControlName="keyword" class="form-control mr-sm-2 col-5 form-control-lg" type="text" placeholder="Ключевые слова (например, angular2)">
      <select formControlName="city" [disabled]="!cities" class="form-control mr-sm-2 col-4 form-control-lg">
        <option selected value="-1">Выберите регион...</option>
        <option selected value="0">Все регионы</option>
        <option *ngFor="let city of cities" [value]="city.id">
          {{ city.ru }}
        </option>
      </select>
      <button [disabled]="form.invalid" class="btn btn-lg btn-outline-danger my-2 my-sm-0 col-2" type="submit">НАЙТИ</button>
    </form>
  </div>

  <div class="text-center" style="margin-top: 100px">
    <h4>
      {{currentTime[1]}}
      {{currentTime[2]}}
      {{currentTime[3]}}
      {{currentTime[4]}}
    </h4>
  </div>
</div>
